[includeIf "hasconfig:remote.*.url:git@gitlab.ocado.tech*/**"]
    path = .gitconfig-work-user

[includeIf "hasconfig:remote.*.url:git@gitlab.com*/**"]
    path = .gitconfig-public-user

[includeIf "hasconfig:remote.*.url:git@github.com*/**"]
    path = .gitconfig-public-user

[core]
    editor = nvim

[push]
    default = current

[pull]
    rebase = false

[fetch]
    prune = true

[delta]
    side-by-side = true

